<div fxLayout="row wrap" fxLayoutAlign="center center" style="border: 2px solid white; width: 1200px ;">
  <div *ngFor="let note of notesArray">
    <mat-card class="card" fxLayout="column" style="margin:5px;">
      <div class="textArea" (click)="openDialog(note)">
        {{ note.title }}
      </div>
      <div class="textArea" style="padding-top: 20px" (click)="openDialog(note)">
        {{ note.description }}
      </div>
      <div>
        <app-icons [note]="note" class="icon"></app-icons>
      </div>
    </mat-card>
  </div>
</div>
