<div class="form-container">
  <div class="form">
    <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
      <div class="form-head-text">
        <img src='../../../assets/FundooNotes.png' />
        <h2>
          Forget Password
          <br />
        </h2>
        <h3>Use your FundooNotes Account</h3>
      </div>
      <div class="form-content">
        <mat-form-field appearance="outline">
          <mat-label>Enter Username</mat-label>
          <input matInput formControlName="username"
          />
        </mat-form-field>

      </div>
      <div class="form-footer">
        <div>
          <button mat-button color="primary" routerLink="/login">Login</button>
        </div>
        <div>
          <button mat-flat-button color="primary" routerLink="/reset-Password">
            Send Reset Password Link
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
