.getAllNotes{
  margin-left: 5px;
  border-radius: 10px;
}
.notewrap{
 display: flex;
 flex-flow:row wrap ;
 margin-top: -10px
}
::ng-deep.Notes{
 display: flex;
 flex-flow: column wrap;
  margin-left: 80px;
  margin-right: 10px;
  margin-top: 50px;
  p{
     color: #5f6368;
     letter-spacing: .07272727em;
     font-family: Roboto,Arial,sans-serif;
     font-size: .6875rem;
     font-weight: 500;
     line-height: 1rem;
 }
}
::ng-deep .getNoteCard
{
 display: flex;
 flex-direction: column;
 width:200px;
 align-items: center;
 margin-top: 25px;
 margin-left: 3px;
 padding-bottom:0 !important ;
 border: 1px solid #E0E0E0 ;
}

::ng-deep.card_title
{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
 width: 100%;
}
.reminderLabel
{
 display: flex;
 flex-direction: row;
 align-items: center;
 margin-bottom: 0;
 justify-content: flex-start;
 background-color: #EBEBEB;
 font-size: 10px;
 width: fit-content;
 max-height: 25px;
 border-radius: 15px;
 p{
     margin-top: 10px;
 }
 mat-icon{
     font-size: 17px;
     margin-left: 3px;
     margin-top: 5px;
 }
}
.cursor:hover
{
 cursor: pointer;
}

::ng-deep.noteDescription
{
 overflow: hidden !important;
 word-wrap: break-word;
 white-space: pre-wrap;
}
