
 .titlerow{
  display: flex;
  flex-direction: row;
}
.noteTitle{
   font-size: 16px;
   flex-grow: 12;
}
.icon{
   display: flex;
   justify-content: flex-end;
 }

 mat-card{
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     width: 65%;
     border-radius: 10px;
     margin-top: 25px;

 }

 textarea{
     border: unset;
     font-size: 17px;
     color: #4F4F4F;
     width: 100%;
 }
 textarea:focus {
     outline: none !important;
     border-color: white;
  }
  .cardbottom{
      display: flex;
      flex-direction: row;
      .icon{
          display: flex;
          justify-content: space-between;
          flex-grow: 2;
      }
      .button{
          display: flex;
          justify-content: flex-end;
          flex-grow: 2;
          padding-right: 10px;
          margin-bottom:-10px ;
      }

  }
  mat-icon{
      color: #757575;
  }

//---------------------------------------------------------------------------------------------------
::ng-deep .mat-drawer-content{
   overflow:unset;
}
.title{
   font-size: 16px;
   flex-grow: 12;
   padding-top: 10px;
}
.icons{
   display: flex;
   flex-grow: 3;
   justify-content: space-around;
 }

 .notebar{
     display: flex;
     flex-direction: row;
     width: 65%;
     height: 15px;
     align-items: center;
     border-radius: 10px;
     margin-top: 25px;

 }
 .mat-card:not([class*=mat-elevation-z]) {
     box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
 } 
