<div class="mainCollab" style="padding: 20px;">
  <h2 mat-dialog-title>Collaborators</h2>
  <mat-divider></mat-divider>
  <mat-dialog-content [formGroup]="CollaboratorForm">
      <div class="collaborators">
          <div class="user">
              <div class="UserName">
                  <h4 style="height:6px">Manish Kumar <span style="font-style: italic;font-weight: lighter;" >(Owner)</span></h4>
                  <p style="font-size: 13px;">mkaubr700@gmailcom</p>
              </div>
          </div>
          <div class="user" *ngFor="let user of collaborators" >
              <span class="add" >
                  <mat-icon class="addperson" >
                      person_outline</mat-icon>
              </span>
              <p style="font-size: 13px;" class="person" style="width: 500px;">user.CollaboratorEmailId</p>
              <mat-icon class="collabButton">close</mat-icon>
          </div>

          <div class="user" style="margin-top:10px ;">
              <span class="add">
                  <mat-icon class="addperson" >
                      person_add</mat-icon>
              </span>
                  <input  placeholder="Person or email to share with" formControlName="email" class="person">
                  <mat-icon *ngIf="CollaboratorForm.valid" class="collabButton" (click)="addCollaborator()">done</mat-icon>
          </div>
      </div>
  </mat-dialog-content>
  </div>
  <div class="footer">
  <mat-dialog-actions >
      <div class="end" >
          <button mat-button style="color: #454545;height: fit-content;" (click)="close()">Cancel</button>
          <button  mat-button style="color: #454545;height: fit-content;">Save</button>
      </div>
  </mat-dialog-actions>
  </div>
