::ng-deep #cdk-overlay-0{
  border-radius: 10px;

}
::ng-deep .mat-dialog-container{
  padding:0 ;
  width: 600px;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}
.user{
  display: flex;
  flex-direction: row;
 align-items: center;
  .UserName{
      margin-left: 10px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
  }
}
.profilePic{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

h4{
  font-weight: 700;
  font-size: 13px;
  color: #202124;
  font-family: 'Roboto',arial,sans-serif;
}
.add{
  @extend .profilePic;
  border:1px solid #6D6D6D;
}
.addperson{
  padding: 7px 9px ;
  color: #7F7F7F;
}
.person{
  margin-left:5px ;
  border: unset;
  font-size: 13px;
  color: #3c4043;
  width:500px;
  background-color: transparent;
}
.person:focus {
  outline: none !important;
  border-color: white;
}
.end
{
   background-color: #EDEDED;
   display: flex;
   justify-content: flex-end;
   width: 100%;
   padding: 5px;
   margin-top: 6%;
   min-height:50px;
}
.collabButton:hover
{
  cursor: pointer;
}
